body {
  font-family: 'Work Sans', sans-serif;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}



