
.navbar {
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  .navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .navbar-item {
    margin: 0;
    padding: 0;
  }


  .navbar a {
    color: white;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin: 0 10px;
  }

  .navbar a:hover {

    text-decoration: underline;
  }

  .search-form {
    display: flex;
    align-items: center;
  }

  .search-input {
    padding: 5px;
    border: none;
    border-radius: 3px;
  }

  .search-button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 3px;
    background-color: #555;
    color: white;
    cursor: pointer;
  }

