/* src/App.css */
.container {
  display: flex;
  height: 100vh; /* Set the container height to the full viewport height */
}

.sidebar {
  width: 25%;
  padding: 20px;
  background: linear-gradient(135deg, #f3e7e9 0%, #e3eeff 100%);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable scrolling for the sidebar */
  max-height: 100vh; /* Set the maximum height to the full viewport height */
}

.sidebar p, .sidebar ul {
  font-family: 'Work Sans', sans-serif;
  color: #555;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  color: inherit;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

.sidebar img {
  border-radius: 10px;
  margin-bottom: 15px;
}

.sidebar h2, .sidebar h3 {
  font-family: 'Work Sans', sans-serif;
  color: #333;
}

.main-content {
  width: 75%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Prevent content from affecting the main container */
}

/* src/App.css */
/* Hide scrollbar but keep the scroll functionality */
.sidebar {
  overflow-y: scroll;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.sidebar::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Opera */
}

.sidebar button{
  border: none;
  font-size: 16px;
}
